<!DOCTYPE html>
<html lang="ru">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='/style/auth.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TEST Online</title>
  
</head>
<body>
  <header>
    <h1>TEST Online</h1>
  </header>
  <div class="container">
    <div class="auth-box">
      <h2>Авторизация</h2>
      <input id="login" type="text" placeholder="логин">
      <input id="password" type="password" placeholder="пароль">
      <select id="role" name="role">
        <option value="student">Студент</option>
        <option value="teacher">Преподаватель</option>
      </select>
      <button onclick="auth_user()">Войти</button>
      
    </div>
  </div>

  <script src="/static/script/script.js"></script>
</body>
</html>
