<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css') }}"/> 
</head>
<body>
    <header>
        <h1>TEST requests</h1>
    </header>
    <button onclick="get_test()">get_test</button>
    <button onclick="create_test()">create_test</button>
    <button onclick="delete_test()">delete_test</button>
    <button onclick="auth_user()">auth_user</button>
    <button onclick="create_question()">create_question</button>
    <button onclick="delete_question()">delete_question</button>
    <button onclick="create_answer()">create_answer</button>
    <button onclick="delete_answer()">delete_answer</button>
    <script src="/static/script/script.js"></script>
</body>
</html>
